.card {
  width: 240px;
  height: 244px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  margin-bottom: 24px;
  overflow: hidden;
}
.card-image {
  width: 240px;
  height: 168px;
}
.card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  padding-left: 16px;
  padding-top: 10px;
  margin: 0;
}
.card-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 16px;
  margin: 0;
}
