.character {
  padding-top: 76px;
  padding-bottom: 142px;
  width: 100%;
}
.character-photo {
  border: 5px solid #f2f2f7;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.character-title {
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #081f32;
}
.subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #8e8e93;
  margin-bottom: 48px;
}
.back-link {
  position: relative;
  top: 23px;
}
@media only screen and (max-width: 600px) {
  .character {
    padding-top: 124px;
    padding-bottom: 85px;
  }
  .subtitle {
    text-align: start;
  }
  .character-photo {
    width: 150px;
    height: auto;
  }
}
