.my-facebook-button-class {
  height: 40px;
  width: 200px;
  background: white;
  border: 1px solid #dadce0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.my-facebook-button-class:hover {
  background-color: rgba(210, 223, 248, 0.3);
}
